# ----------------------
# Virtual environments
# ----------------------
venv/
.venv/

# ----------------------
# Python cache
# ----------------------
__pycache__/
*.py[cod]

# ----------------------
# Type checkers / linters
# ----------------------
.mypy_cache/
.pytest_cache/
.ruff_cache/

# ----------------------
# Build / packaging
# ----------------------
build/
dist/
*.egg-info/
.eggs/

# ----------------------
# Coverage
# ----------------------
.coverage
htmlcov/

# ----------------------
# OS files
# ----------------------
.DS_Store

# ----------------------
# IDEs / editors
# ----------------------
.vscode/
.idea/

# ----------------------
# Logs
# ----------------------
*.log


note